// optimization done

.borderradius .branding .circle 
  border-radius 70px

header[role="banner"]
  ul, ol, dl
    list-style none
    ul, ol, dl
        list-style disc
        margin-left 20px

  .about
    font-size 12px

nav 
  padding 1em 0 1.1em
  border-bottom 1px solid #ececec
  box-shadow 0 5px 8px -5px rgba(0, 0, 0, 0.075)

  ul 
    font-size .75em
    line-height 1.5em

  li a 
    font-weight bold

.branding 
  img
    width 140px
    height auto
    margin-bottom 20px
    max-width 100%

  .title
    margin 0 0 10px 0
    font-weight bold

#toggle 
  display none

.widget .title
  font-size 12px
  padding-bottom 10px