#pagination
  a
    display block
    padding 5px 10px
    background color-border
    color color-meta
    font-family font-title
    text-shadow 0 0 1px #fff
    margin-bottom 50px
    &:hover
      background color-link
      color #fff
      text-decoration none
      text-shadow none
