// optimization done

.container
  position relative
  overflow hidden
  margin 0 auto
  padding 3em 40px 3em
  max-width 940px
  background #FFF

  .blog
    position relative
    float left
    width 74.4680851%
    margin-left 2.1276596%
    margin-bottom 4.5em
    min-height 250px
    
header[role="banner"]
  float left
  width 23.4042553%
  min-height 120px
  margin-bottom 3em

@media (min-width: 961px)
  .container
    max-width 1240px

    .blog 
      width 74.3548387%
      margin-left 2.5806452%

  header[role="banner"]
    width 23.0645161%